# Tutti i file nella root e sottocartelle sono sotto la mia responsabilità
*      @bocaletto-luca

# Se vuoi distinguere solo gli script di esempio:
# /*.@(c|cpp|py|java|js|rb|php|go|rs|swift|kt|cs|dart|hs|scala|m|pl|R|sh|lua|pas|adb|...) @bocaletto-luca
